Package: com.icraze.noiconflyin13
Name: NoIconFlyIn13
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Disable The Icom Fly-In On iOS 13.
Maintainer: iCraze
Author: iCraze
Section: Tweaks
